<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MARVEL HEROES</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
            <div class="imagen">
                <img src="/img/brucebarner.jpg" alt="Aquí va una foto">
            </div>        
            <div class="detail">
                <h1>Bruce Barner</h1>
                <p><strong>Nombre de Héroe: </strong>Hulk</p>
                <p>No hay Vengadores sin Iron Man, y no hay Iron Man sin un Tony Stark traumatizado y aterrorizado que cambia de opinión y se transforma de un arrogante traficante de armas mujeriego a un (todavía arrogante) héroe acorazado que ayuda a Nick Fury a encabezar, y moldear, a los Vengadores. La historia de Tony cerró ferozmente el círculo cuando dio su vida para hacer desaparecer a Thanos y a todo su ejército utilizando el Guantelete del Infinito, cumpliendo la promesa que había hecho de, esencialmente, crear (o, en este caso, convertirse en) una "armadura alrededor del mundo." Y sólo desde el punto de vista de la franquicia, fue la actuación perfecta de Robert Downey, Jr. como Tony, y el proyecto de comedia-drama de Jon Favreau para la primera película de Iron Man</p>
                <a href="/"><button>Volver</button></a>
            </div>
        </div>
    </body>
</html>