<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>MARVEL HEROES</title>
</head>
<body>
    <main class="index">
        <h1>Bienvenidos a Heroes de Marvel</h1>
        <p class="index">
            <strong>Aquí encontraremos una breve selección de algunos (de los tantos) héroes de Marvel. Éstos héroes van de superespías a supersoldados o mapaches espaciales. En este magnífico universo también encontramos nobles reyes, científicos, abogados, agentes e investigadores privados. 
                A continuación veremos una selección de sólo unos pocos y más conocidos junto con su nombre. 
                <br> ¡Veamos nuestros héroes!🙌🏼</strong>
        </p>
        <ul>
            <li><a href="tonystark">Tony Stark</a> </li>
            <li><a href="brucebarner">Bruce Barner</a> </li>
        </ul>
    </main>
    
</body>
</html>